# See https://help.github.com/ignore-files/ for more about ignoring files.
.idea

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env.test.local
.env.production.local
.env
.env.development

npm-debug.log*
yarn-debug.log*
/server/mongodb-auth.js
/server/mongodb-auth-open.js
/server/nodemailer-auth.js
/.env.development
